/* You may use the following selectors, but it's not required. */

body {
	font-family: 'Open Sans', sans-serif;
margin: 0 auto;
text-align: center;

 
  background-size: 100% auto;
color:white;
}


html { 

background:   
linear-gradient(
       rgba(0,0,0, 0.4), 
      rgba(0,0,0, 0.4)),
url(../img/hand.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


/*
html { 

background:   
linear-gradient(
       rgba(0,0,0, 0.4), 
      rgba(0,0,0, 0.4)),
url(../img/hand.jpeg) no-repeat center 0px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 27%;

}
*/

/*  linear-gradient(
       rgba(255, 255, 255, 0.4), 
      rgba(255, 255, 255, 0.4)), */



#header {
padding: 60px 5px 5px;
font-size:300%;
font-family: 'Roboto Slab', serif;
font-weight: 500;
letter-spacing: 20px;
text-transform:uppercase;
}



hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px white;
    width:45%;
  


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    background-color: #333;
    justify-content: center;
    opacity:0.5;
    position:fixed;
    width:100%;
}

li {
   
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#subheader {
padding-bottom: 30px;
font-style: italic;
font-size: 20;
font-weight: lighter;
}

.line{
	 background: black;
  width: 50%;
  margin: 0 auto;
  padding: 1px;
}

.image {
	height: 100%;
 width: 100%;
 object-fit: cover;


}

.top-container{
	width:85%;
	margin: 130px 0px 10px 200px;
	display:flex;
	justify-content: center;

}

#description{

	width:60%;
text-align: justify;
	
}

#intro{
	text-align: center;
}

#thumbnail {
border-radius: 50%;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
transition: all 0.2s ease;
margin-top: -30px;
}

.image{
	border-radius: 50%;
	border:5px solid white ;
}

#thumbnail:hover{
	
	transform: scale(1.05);
	-webkit-filter: grayscale(0%);
filter: grayscale(0%);
transition-delay: .25s;
}

/*
.big-box{
	background: gray no-repeat center 0px; 
	background-size: 100% 25%;

}

.works-box{
background: red no-repeat center 0px; 


}

.hobbies-box{
	background: black no-repeat center 0px; 
	
	padding: 50px;
}
*/

.bio-container{
	width:70%;
	margin:120px auto 100px auto;
	padding-top:220px;
	display:flex;
	justify-content: space-between;
	
}

.bio{

	font-size: 400%;
	font-family: 'Roboto Slab', serif;
	line-height: 250px;
	border-radius: 50%;
	width: 250px;
	height: 250px; 
	background:#039BE5;
	text-align: center;
}

.bio-and-resume{

	width:60%;
	position:relative;
	height:200px;
	-webkit-display:flex;
	display:flex;
	-webkit-flex-direction:row;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
}

.bio-descrip{
	width:100%;
	margin-top:-120px;
	text-align:center;
}
.resume a{
	display:block;
	color:white;
	background: #FF5722;
	padding:15px;
	font-size:125%;
	letter-spacing: 3px;
}

.resume{
	margin-left:200px;
	margin-right:200px;
	margin-top:-10px;
	transition: all 0.5s ease;
	height:57px;
}

.resume:hover{
	
}


#description {
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom:50px;
	line-height: 200%;
	text-align: center;
	font-size:16;

}

a {

text-decoration: none;
}



.bio-descrip a{
	color:white;
	font-weight:700;

}
.bio-descrip{
	margin-bottom: 30px;
}





.works-container{
	width:70%;
	margin:300px auto 10px auto;
	display:flex;
	justify-content: space-between;
	
}

.works-title{
	font-family: 'Roboto Slab', serif;
	font-size: 300%;
	width:250px;
height:250px;
border-radius:50%;
font-size:50px;
line-height:250px;
text-align:center;
background:#039BE5;
	margin-top:10px;

}

.works{
width:60%;
height:300px;
margin-top:-30px;


}

.dc-articles{
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
}


.dc-articles h1{
	flex:1 100%;

}

.all a{
	display:block;
	color:white;
		background: #2196F3;
	padding:14px;
}

.all{

}
.hvr-bubble-float-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

}
.favorites{

width:40%;
margin-bottom:20px;

}
.hvr-hollow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background;
  transition-property: background;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-hollow:hover, .hvr-hollow:focus, .hvr-hollow:active {
  background: none;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    right:0px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.research{
	margin-top:20px;
}
.research h1{
	font-size:26;
}

.papers{

	color:white;
		background: #FFA000;
	padding:14px 0px 14px 0px;
	width:200px;
	margin:auto;

}	

.papers:hover{
	font-size:0;
}

.papers:hover::before{
	font-size: 16px;
	content: attr(data-hover);
}

.list-container {
width:70%;
height:30%;
display:flex;
margin:250px auto 200px auto;
justify-content: space-between;

}

.list-title {
	
font-size: 300%;
font-family: 'Roboto Slab', serif;
width:250px;
height:250px;
border-radius:50%;
line-height:250px;
text-align:center;
background: #039BE5;
}

.list-content {
	
width:55%;
height:15%;
display:flex;
flex-wrap:wrap;
justify-content: space-around;
align-content:center;

}

#link{

    display: block;

}

.list-item {

display:inline-block;
margin: 10px 5px 10px 5px;
padding: 0px 10px 0px 10px;
line-height:80px;
font-size: 130%;
background:#EF6C00;

}

.list-item a{
	display:block;
	color:white;
}




.icon{
	display: inline-block;
	margin-right: 20px;
	margin-left:20px;
	
}

.media{
	
	margin-top: 200px;
	background:#78909C;
	display:flex;
	width:100%;
	height:65px;
	margin:auto;
	justify-content: center;
	align-items: center;
	}

.contact-label{
	
font-family: 'Roboto Slab', serif;

}

.author{

	font-size:50%;
	background:#78909C;
	position:bottom left;
	margin-top:-20px;
	text-align: left;
	width:100%;
	padding-left:10px;
	padding-bottom:10px;

}

#linkedin{
 margin-right: 20px;
}
#linkedin img{
	width:60%;

}
#faceboook{
margin-left: 20px;
}

#facebook img{
	width:60%;
}

#mail img{
	width:60%;
}

.media img:hover{
	transform:scale(1.1);
	background:#607D8B;
}
