

body {
	font-family: 'Open Sans', sans-serif;
margin: 0 auto;
text-align: center;
  background-size: 100% auto;
color:white;

}



html {


background:   
linear-gradient(
       rgba(0,0,0, 0.15), 
      rgba(0,0,0, 0.15)),
url(../img/galaxy1.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
   max-width: 100%; 
    overflow-x: hidden;
  
}

::-webkit-scrollbar { 
    display: none; 

}



.hamburg{

/**
	-webkit-animation-delay:7.5s;
	animation-delay:5s;
	fill: black;
	**/
}




#header {
padding: 60px 5px 5px;
font-size:300%;
font-family: 'Roboto Slab', serif;
font-weight: 500;
letter-spacing: 20px;
text-transform:uppercase;
}

#Layer_1{
	margin-top:75px;
	width:500px;
}

hr.style-four {
    height: 2px;
    border: 0;
    background:white;
    width:35%;
    margin: 0 auto;
    -webkit-animation-delay:3s;
    animation-delay:3s;
}

/* Containers */

.section{
	width:100%;
	height:600px;
	
}

#home-section{

	height:700px;
}

#bio-section{

	height:800px;
	background-color:#FEFBF7;
	/**background:url(../img/soft.png); **/
}

#works-section{
	height:1500px;
	background-width:100%;
    
   /** background:#01579B; **/
	
background:url(../img/stardust_@2X.png); 

/**
	background:
linear-gradient(
       rgba(0,0,0, 0.4), 
      rgba(0,0,0, 0.4)),
	url(../img/tweed_@2X.png); **/
	
}

#hobbies-section{
	background-color: #FEFBF7;
/**background: url(../img/cream_pixels.png); **/
height:1000px;
}

/** Top Toolbar **/
#nav-icon3{
  width: 30px;
  height: 20px;
  position: fixed;
   margin-left: 95%;
    margin-top:15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 10px;
}

#nav-icon3 span:nth-child(4) {
  top: 20px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}



.button {
    display: block;
    width: 50px;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    cursor: pointer;
    position:fixed;
    z-index: 200;
    margin-right:20px;
    margin-top:5px;
    -webkit-animation-delay:3s;
    animation-delay:3.5s;
}

.button svg rect{
	fill:#fff;
	
}


.navigation {
    list-style-type: none;
    height:45px;
    margin: 0;
    padding: 0;
    display:flex;
    background-color: #333;
    justify-content:center;
    position:fixed;
    width:100%;
    z-index: 100;
    margin-top:-65px;
    transition: all 0.2s ease;
}

.nav-box {

 
}

.nav-box a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.nav-box a:hover {
    background-color: #111;
    color:white;

}
.navigation:hover{
opacity:1
}



/* jQuery Manipulation Classes */

.sidebar-active{
	-webkit-transform: translateY(65px);
	-moz-transform: translateY(65px);
	-o-transform: translateY(65px);
	transform:translateY(65px);
	transition: all 0.2s ease;
}


#subheader {
padding-bottom: 30px;
font-style: italic;
font-size: 20;
font-weight: lighter;
}

.line{
	 background: black;
  width: 50%;
  margin: 0 auto;
  padding: 1px;
}

.image {
	height: 100%;
 width: 100%;
 object-fit: cover;
border-radius: 50%;
	border:5px solid white ;
	-webkit-animation-delay:3.5s;
	animation-delay:3.5s;
	animation-duration:2.0s;

}

/** Intro **/

.top-container{
	width:85%;
	margin: 130px 0px 10px 200px;
	display:flex;
	justify-content: center;


}

#description{

	width:60%;
text-align: justify;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom:50px;
	line-height: 200%;
	text-align: center;
	font-size:17px;
	
}



#intro{

	text-align: center;
	-webkit-animation-delay:3.5s;
	animation-delay:3.5s;
	animation-duration:2.5s;

}


#thumbnail {
border-radius: 50%;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
transition: all 0.2s ease;
margin-top: -30px;


}


#thumbnail:hover{
	-webkit-filter: grayscale(0%);
filter: grayscale(0%);
transition-delay: .25s;
}



/** Bio Part **/ 

.bio-container{
	width:70%;
	padding-top:10px;
	margin: 0 auto;
	color:black;
	position:relative;
	
	
}

.bio-descrip{
	width:65%;
	margin:auto;
	text-align:left;
	position: relative;
	
}
.bio{
font-family: 'Roboto Slab', serif;
font-size: 50px;
color:black;
padding:50px;
}


#Resume{
	font-size: 20px;
	color:white;
	
}

#Resume a{
	margin-left:15px;
	margin-top:15px;
	text-align: center;
	padding: 10px 15px;
	border-radius: 2px;
	display: inline-block;
	background: #0071B2;
	color: #fff;
	transition:all 0.5s ease;;
		
}
#Resume a:hover{
	transform: scaleX(1.1);
	letter-spacing: 2px;
	transition:all 0.5s ease;;
	
}



a {

text-decoration: none;
}


.bio-descrip p{
	margin:20px;
}
.bio-descrip a{
	color:black;
	font-weight:700;

}
.bio-descrip{
	margin-bottom: 30px;
	position:relative;
}


/** Works Area **/

.works-background{
	width:80%;
	margin:auto;
	background:#E0E0E0;
	height:1000px;
}

.works-container{
	width:70%;
	margin: auto;
	position:relative;

	display:flex;
	justify-content: space-between;
	
}

.works-title{
	font-family: 'Roboto Slab', serif;	
font-size:50px;
line-height:250px;
text-align:center;
color:white;


}

/** Works Section **/

.papers{
	
	margin:auto;
	width:70%;
	font-size:32px;
	color:black;
	text-align: left;
	margin-left:50px;
}

.imghvr-fade h5{
	margin-top:20px;
}

.imghvr-fade a{
	color:#fff;
	margin-top:20px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}


.imghvr-fade a{
	
}

figure:hover{
	transition: .2s ease-in-out;
	box-shadow: 0px 0px 35px #888888;
	transform:scale(1.05);
}

.papers figure:hover{
	transition: .1s ease-in-out;
	box-shadow: 10px 10px 5px #888888;
	transform:scale(1.05);
}

#fav1{
	
    color:#fff;
	margin-top:20px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	
	background: #ed4e6e;
	color: #fff;
}

#fav2{
	color:#fff;
	margin-top:20px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	background: #ed4e6e;
	color: #fff;
	
}

#fav3{
	color:#fff;
	margin-top:20px;
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	
	background: #ed4e6e;
	color: #fff;
	
}

#papers{
	margin-bottom: 0px;
}

#articles{
	margin-top:-100px;
	
}


#projects{
	margin-left:70px;
	margin-top:-80px;

}

.project{
	color:black;
	height:100px;
	width:80%;
	line-height: 100px;
	background:lightgray;
	margin:auto;
	margin-top:20px;
	padding-bottom:10px;
	transition: .5s ease-in-out;
}

.project:hover{
	background:#2c3f52;
	transition: .2s ease-in-out;
	box-shadow: 10px 10px 5px #888888;
	color:white;
}

/**
.papers{
	color:white;
		background: rgba(255,255,255,0.1);
	padding:14px 0px 14px 0px;
	width:200px;
	margin:auto;
	border:3px solid white;

}	

.papers:hover{
	font-size:0;
}

.papers:hover::after{
	font-size: 16px;
	content: attr(data-hover);
} **/


/** Hobbies **/

.hobby-title{
	font-family: 'Roboto Slab', serif;
	color:black;
	font-size:50px;
	padding-top:50px;
}

.hobby-content{
	width:70%;
	height:400px;
	margin:auto;
	margin-top:100px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;


}

.hobby{
	width:32%;
	height:180px;
	position:relative;
	
}

.hex-container{
	padding-top:100px;
	width:50%;
	height:60%;
	margin:auto;

}

#sports{
background:url(../img/sports.jpg);
	background-size:contain;
	text-align: center;

}

#book{
	background:url(../img/book.jpg);
	background-size:contain;
	text-align: center;
}

#data{
	background:url(../img/data.jpg);
	background-size:contain;
	text-align: center;
}

#journalism{
	background:url(../img/newspaper.jpg);
	background-size:cover;
	text-align: center;
}

#web-design{
	background:url(../img/web-design.jpg);
	background-size:cover;
	}

#delicious-food{
	background:url(../img/steak.jpg);
	background-size:cover;
	text-align: center;
}

.food{
	background-size:cover;
}


.text{
width:100%;
height:180px;
background: rgba(0,0,0,0.6);
color:white;
font-size:26px;
line-height:180px;
vertical-align: middle;
opacity: 0;
}

.hobby:hover .text{
	opacity:1;
}

#test-section{
	background:white;
	})

#test-heading{

}

/**
.hobbies-container {
width:70%;
height:30%;
padding:100px;
	margin: 0 auto;
display:flex;

justify-content: space-between;

}

.hobbies-title {
	
font-size: 300%;
font-family: 'Roboto Slab', serif;
width:250px;
height:250px;
border-radius:50%;
line-height:250px;
text-align:center;
background: #039BE5;
}

.hobbies-content {
	
width:55%;
height:15%;
padding-top:150px;
display:flex;
flex-wrap:wrap;
justify-content: space-around;
align-content:center;
color:black;

}

#link{

    display: block;

}

.list-item {

display:inline-block;
width:200px;
height:150px;
font-size: 130%;

}

.list-item a{
	display:block;
	color:black;
	
}

.hobby-pic{
	width:75px;
}



#food{
	margin-top:30px;
}

**/


/** Bottom Toolbar **/

.icon{
	display: inline-block;
	margin-right: 20px;
	margin-left:20px;

}



.read{
	margin-top: -10;
}

.footer{

background:#01579B;
}

#media{
	
	margin-top: 200px;
	display:flex;
	width:100%;
	height:65px;
	margin:auto;
	justify-content: center;
	align-items: center;
	}

.contact-label{
	
font-family: 'Roboto Slab', serif;

}

#author{

	font-size:50%;
	position:bottom left;
	margin-top:-20px;
	text-align: left;
	width:100%;
	padding-left:10px;
	padding-bottom:10px;

}

#linkedin{
 margin-right: 20px;
}
#linkedin img{
	width:30px;

}
#faceboook{
margin-left: 20px;
}

#facebook img{
	width:30px;

}

#mail img{
	width:40px;
}

#media img:hover{
	transform:scale(1.1);
	
}

.down-arrow{
	z-index: 999;
	background:white;
	width:50px;
	height:50px;

}

#down-arrow{
background:transparent;


}

.cls-1 {
		fill-opacity:0;
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        animation-timing-function: ease-in-out, cubic-bezier(.61,.02,1, .06);
        animation-fill-mode: forwards;
        animation-name: dash, FillIn;
        animation-duration: 3.5s, 2s;
        animation-delay:0.5s;
       
    }

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}

 @keyframes dash {
        to {
            stroke-dashoffset: 0;
        }

 @keyframes fade-up {
 	100% {
 		opacity: 1;
 	}
 }


/** Media Queries  **/ 

@media (min-width: 1020px){
	
	.hobbies-content{
		width:500px;
		height:400px;
		display:inline-block;
		padding-top:10px;
		margin-top:-50px;
	}

	#bio-section{
		height:720px;
	}

	#thumbnail{
		margin-top:0px;

	}

	.top-container{
		width:90%;
		margin-top:100px;
		margin-left:100px;
	
	}
	.bio-and.resume{
		width:80%;
	}
}

@media(min-width: 1300px){
	#bio-section{
		height:575px;
	}
}

@media(min-width: 1400px){
	#home-section{
		height:900px;
	}

	.top-container{
		margin-top:250px;
	}
}








